<%- include('partials/head.ejs') %>
<body id="index">
  <%- include('partials/header.ejs') %>
  <div style="max-width: 992px; margin: 64px auto">
    <p><%= locals.errorMsg %></p>
    <form
      action="/loginCheck"
      method="POST"
      style="display: flex; flex-direction: column; max-width: 300px"
    >
      <label for="username">Navn</label>
      <input type="text" placeholder="Brugernavn" name="username" required />

      <label for="password">Kode</label>
      <input type="password" placeholder="Kode" name="password" required />

      <button type="submit">Login</button>
    </form>
  </div>
  <%- include('partials/scripts.ejs') %>
</body>
