<%- include('partials/head.ejs') %>
<body id="index">
  <%- include('partials/header.ejs') %>
  <div style="max-width: 992px; margin: 64px auto">
    <p><%= locals.errorMsg %></p>
    <form
      action="/signupCheck"
      method="POST"
      style="display: flex; flex-direction: column; max-width: 300px"
    >
      <label for="firstname">Fornavn</label>
      <input type="text" placeholder="Fornavn" name="firstname" required />

      <label for="lastname">Efternavn</label>
      <input type="text" placeholder="Efternavn" name="lastname" required />

      <label for="email">Email</label>
      <input type="email" placeholder="Email" name="email" required />

      <label for="password">Kode</label>
      <input type="password" placeholder="Kode" name="password" required />

      <button type="submit">Registrer</button>
    </form>
  </div>
  <%- include('partials/scripts.ejs') %>
</body>
